*{
    margin: 0;
    padding: 0;
}
fieldset{
    border: none;
}
.bodyPayment{
border: 1px solid #b6b5b5;
font-size: 15px;
margin: 10% auto;
width: 80%;
height: auto;

border-radius: 10px;
}
.title{
    background-color: #f1f1f1;
    padding: 10px;
    border-bottom: 1px solid #b6b5b5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.title h1{
    font-size: 25px;
}
.alertData{
    background-color: rgba(255, 0, 0, 0.24);
    color: rgb(133, 15, 15);
    padding: 10px;
    margin: 20px;
    border: 1px solid rgba(145, 22, 22, 0.329);
    border-radius: 4px;
}
.data{
    display: flex;
    margin: 20px;
    
}
.card input{
    padding-right: 327px;
    margin-right: 30px;
    border: 1px solid #b6b5b5;
    border-radius: 3px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.CVC input{
    margin-right: 30px;
    border: 1px solid #b6b5b5;
    border-radius: 3px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.amount input{
    padding-right: 100px;
    margin-right: 30px;
    border: 1px solid #b6b5b5;
    border-radius: 3px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.content {
    display: flex;
    justify-content: space-between;
    width: 80%;
    
}
.leftContent{
    margin: 20px;
}
.firstName input{
    padding: 4px;
    padding-right: 185%;
    border: 1px solid #b6b5b5;
    border-radius: 3px;
}
.city input{
    padding: 4px;
    padding-right: 185%;
    border: 1px solid #b6b5b5;
    border-radius: 3px;
}
.typeOfCard {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    background-color: rgba(83, 83, 83, 0.849);
    padding: 10px;
    border-radius: 3px;
}
